/* @pareto-engineering/generator-front 1.0.9 */

@use "@redlibre/bem";

//$default-color:var(--x, var(--paragraph));
$default-color:var(--paragraph);
$default-padding:.67em 1em;
$default-border:2px solid $default-color;
$default-border-radius:2em;

%reset-button {
  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;

  background: transparent;
  border: none;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

/* Remove excess padding and border in Firefox 4+ */

.#{bem.$base}.button {
  @extend %reset-button;
  border: $default-border;
  border-radius: $default-border-radius;
  color: $default-color;
  cursor: pointer;

  font-family: var(--font-paragraph);
  padding: $default-padding;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled {
    cursor: unset;
    text-decoration: line-through;

    &:hover {
      background: unset;
    }
  }

  &.font-heading {
    font-family: var(--font-heading);
    font-size: calc(var(--s1) * 1em);
    font-weight: 600;
    letter-spacing: 0;
    padding: .6em;
    text-transform: unset;
  }

  &:hover {
    background-color: var(--light-x);
    //border: 4px solid $default-color;
    //border-color: var(--on-x);
    //color: var(--on-x);
  }

  &.important,
  &:focus {
    background-color: var(--x);
    border-color: var(--on-x);
    color: var(--on-x);
  }

  &.important:hover {
    background-color: var(--dark-x);
  }
}


