/* @pareto-engineering/generator-front 1.0.7 */

@use "@redlibre/bem";

@keyframes news-animation {
  0% {
    //background: blue;
    left: 0;
  }

  100% {
    //background: red;
    left: -100%;
  }
}

:root {
  --border-default: 2px solid var(--paragraph);
}

html {
  background: var(--light-exp4);
}

.#{bem.$base}.experiment1 {
  background: var(--light-exp4);
  display: flex;
  flex-direction: column;
  height: 100%;
  //padding: var(--u);
  //
  >nav {
    background: var(--light-exp4);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  > footer {
    //outline: 4px solid var(--blue);
    //outline-offset: 0;
    padding: var(--u);
  }

  > nav,
  > main {
    border-bottom: var(--border-default);
  }

  > main {
    flex-grow: 1;
  }

  > nav {
    display: grid;
    grid-template-columns: 10% 50% 40%;

    > .logo {
      padding: 0 var(--u);
    }

    > .content,
    > .menu {
      align-items: center;
      display: flex;
      padding: var(--u);
    }

    > .content {
      border-left: var(--border-default);
      border-right: var(--border-default);
      font-family: var(--font-heading);
      font-size: calc(var(--s4) * 1em);
      font-weight: bold;
    }

    > .menu {
      ul {
        display: flex;
        font-family: var(--font-subtitle);
        font-size: calc(var(--s1) * 1em);
        justify-content: space-around;
        letter-spacing: .1em;
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        width: 100%;

        li {
          margin-bottom: -.17em;
        }

        li + li {
          margin-left: var(--u);
        }
      }
    }
  }

  .news {
    ul {
      animation: news-animation calc(var(--animation-items-count) * 6s) linear infinite forwards;
      display: flex;
      font-family: var(--font-subtitle);
      list-style: none;
      margin: 0;
      //overflow-x: a;
      padding: 0;
      position: relative;

      &:hover {
        animation-play-state: paused;
      }

      li {
        background: transparent;
        //border-bottom: var(--border-default);
        margin-bottom: -.17em;
        padding: var(--u);
        transition: all .3s;
        white-space: nowrap;
        width: max-content;

        &:hover {
          background: var(--indigo2);
        }

        + li {
          border-left: var(--border-default);
        }
      }
    }
    border-bottom: var(--border-default);
  }

  > main {
    > section {
      //padding: calc(var(--u) * 2);
      padding-bottom: 2em;

      + section {
        border-top: var(--border-default);
      }
    }

    .event-section {
      display: grid;
      grid-template-areas:
        "left head head"
        "left cards aside";
      grid-template-columns: 10% 50% 1fr;

      --lu: calc(var(--u) * 2);

      > .head {
        grid-area: head;
        padding: var(--lu) var(--u);
      }

      > .events {
        display: grid;
        grid-area: cards;
        grid-gap: var(--lu);
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding: var(--lu) 0 var(--lu) 0;
      }

      aside {
        display: flex;
        flex-direction: column;
        grid-area: aside;
        padding: var(--lu) var(--lu) 4em;

        > * + * {
          margin-top: var(--lu);
        }
      }
    }
  }
}



.event-card {
  border: var(--border-default);

  > main,
  > header {
    padding: var(--u);
  }

  > header {
    .title {
      font-family: var(--font-paragraph);
      font-size: calc(var(--s4) * 1em);
      font-weight: bold;
    }
  }

  img {
    height: 12em;
    object-fit: cover;
    width: 100%;
  }
}


.event-segment {
  border-bottom: var(--border-default);
  display: grid;
  grid-area: description;
  grid-template-areas:
    "heading"
    "description";
  grid-template-columns: 1fr;

  header {
    grid-area: heading;
    padding: var(--u) var(--u) 0;

    .title {
      font-family: var(--font-paragraph);
      font-size: calc(var(--s3) *1em);
      font-weight: bold;
    }
  }

  main {
    grid-area: description;
    padding: var(--u);
  }

  .image {
    display: none;
    grid-row-end: span 2;
  }

  img {
    display: none;
    grid-area: image;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
