/* @pareto-engineering/generator-front 1.0.12 */

@use "@redlibre/bem";
@use "@aztlan/stylebook/src/mixins";
@use "@aztlan/stylebook/src/globals" as *;

$class-sidebar:sidebar;
$class-horizontal-menu:horizontal-menu;
$class-slide:slide;
$class-navigator:navigator;

//$class-main-container:main;

$default-sidebar-width:minmax(250px, 330px);
$default-border:2px solid var(--grid);
$default-content-background:var(--y);
$default-padding:var(--u);

$mobile-content-margin:6em;

.#{bem.$base}.content-slides {
  height: 100%;

  .#{$class-sidebar} {
    background: $default-content-background;
    border-right: $default-border;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;

    header,
    .#{bem.$element-content},
    footer {
      padding: $default-padding;
    }

    header {
      border-bottom: $default-border;
    }

    footer {
      border-top: $default-border;
    }
  }
  .#{$class-horizontal-menu} {
    background: $default-content-background;
    border-bottom: $default-border;
    padding: $default-padding;
  }


  //.#{$class-main-container} {
  main {
    background: var(--exp4);
    position: relative;

    .#{$class-slide} {
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .3s;

      .wrapper {
        padding: var(--u);

        .#{bem.$element-content} {
          background: $default-content-background;

          border: $default-border;
          max-width: 600px;
          padding: $default-padding;
          position: relative;
          //z-index: 1;

          .#{$class-navigator} {
            display: flex;
            margin-top: $default-padding;
          }
        }
      }


      &:not(.#{bem.$modifier-active}) {
        opacity: .5;
        z-index: -1;
      }

      &.#{bem.$modifier-active} {
        opacity: 1;
      }
    }
  }

  @include mixins.media($to:$sm-md) {
    display: flex;
    flex-direction: column;

    .#{$class-sidebar} {
      display: none;
    }

    .#{$class-horizontal-menu} {
      color: var(--heading);
      display: grid;
      grid-template-columns: 1fr [title] 6fr 1fr;

      .title {
        grid-column: title/span 1;
        text-align: center;
        //font-weight:600;
      }

      .left {
        text-align: left;
      }

      .right {
        text-align: right;
      }
      //
    }
    //.#{$class-main-container} {

    main {
      flex-grow: 1;

      .#{$class-slide} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;

        > img {
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          transition: opacity .3s;
          width: 100%;
        }

        .wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
          //justify-content: safe center;
          overflow: auto;

          -ms-overflow-style: none;
          padding-bottom: 0;
          padding-top: 0;
          //padding-bottom: $mobile-content-margin;
          //padding-top: $mobile-content-margin;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          &::after,
          &::before {
            //background: red;
            content: " ";
            flex-grow: 1;
            white-space: pre;
            //z-index: 20;
            @media (orientation: portrait) {
              min-height: calc(#{$mobile-content-margin} + var(--u));
            }
          }
          @media (orientation: landscape) {
            &::before {
              min-height: var(--u);
            }
          }

          .#{bem.$element-content} {
            //margin: $mobile-content-margin 0;

            .#{$class-navigator} {
              .prev {
                display: none;
              }

              .next {
                flex-grow: 1;
              }
            }
          }
        }

        /*
        &:not(.#{bem.$modifier-active}) {
        }

        &.#{bem.$modifier-active} {
        } */
      }
    }
  }

  @include mixins.media($from:$sm-md) {
    display: grid;
    grid-template-columns: $default-sidebar-width 1fr;

    .#{$class-horizontal-menu} {
      display: none;
    }

    main {
      .#{$class-slide} {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > img {
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          transition: opacity .3s;
          width: 100%;
        }

        .wrapper {
          display: flex;
          justify-content: center;
          .#{bem.$element-content} {

            .#{$class-navigator} {
              justify-content: space-between;
            }
          }
        }


        /*
        &:not(.#{bem.$modifier-active}) {
        }

        &.#{bem.$modifier-active} {
        } */
      }
    }
  }
}


