/* @redlibre/generator-front 0.2.7 */

@use "@redlibre/bem";

//make all colors as vars

$border-color: var(--dark-background);
$border-width: 2px;
$button-background-color: transparent;
$button-background-color-hover: var(--light-accent3);
$caret-font-size: 1.2em;
$question-color: var(--heading);
$question-font-weight: 700;
$padding-base: 1em;
$transition-time-button: .4s;
$transition-time-caret: .3s;
$transition-time-answer: 1.5s;

.#{bem.$base}.question-dropdown {
  width: 100%;

  > button {
    align-items: center;
    background-color: $button-background-color;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    padding: $padding-base $padding-base;
    transition: background-color $transition-time-button ease;
    width: 100%;

    .caret {
      align-items: center;
      display: inline-flex;
      font-size: $caret-font-size;
      transform: scale(1.2, .6) rotate(180deg);
    }

    .question-content {
      color: $question-color;
      font-family: var(--font-heading);
      font-size: calc(var(--s1) * 1rem);
      font-weight: $question-font-weight;
      padding-left: $padding-base;
    }

    &:hover {
      background-color: $button-background-color-hover;
    }
  }

  .answer-content {
    background-color: $button-background-color-hover;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity $transition-time-answer ease;

    .answer-text {
      > p {
        align-items: center;
        font-family: var(--font-paragraph);
        font-size: calc(var(--s0) * 1rem);
        justify-content: center;
        margin: 0;
        padding: 0 $padding-base $padding-base;
      }
    }
  }

  &.open {
    background-color: $button-background-color-hover;

    > button {
      .caret {
        font-size: $caret-font-size;
        transform: scale(1.2, .6) rotate(360deg);
        transition: transform $transition-time-caret ease;
      }
    }

    .answer-content {
      height: auto;
      opacity: 1;
    }
  }

  &::after {
    border-bottom: $border-width solid $border-color;
    content: "";
    display: block;
    width: 100%;
  }
}
